@keyframes spinPokeball {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*animation-name --> animation-duration --> animation-timing-function --> animation-delay --> animation-iteration-count --> animation-direction*/
.spinPokeballEl {
  animation: spinPokeball 1s linear 0.01s infinite forwards;
}
